.navbar-element {
  margin-left: 10%;
}

.navbar-brand {
  margin-left: 2%;
}

.navbar-elements-container {
  display: flex !important;
  align-items: center !important;
}

.navbar-element-link {
  text-decoration: none;
  margin-left: 10%;
}

.react-link-login, .react-link-signup {
  text-decoration: none!important;
  color: black;
  margin-top: 10px;
}

.react-link-login:hover, .react-link-signup:hover {
  text-decoration: none;
  color: white;
}

.react-link-topbar {
  text-decoration: none;
  color: black;
}

.react-link-topbar:hover {
  background-color: white;
  color: black;
}

.app-title {
  color: #000!important;
}

.login-link-view {
  display: flex !important;
  height: 60px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.login-link-view:hover, signup-link-view:hover .react-link-login {
  background-color: #FF9292;
  border-radius: 5px;
}