.navbar-element {
  margin-left: 10%;
}

.navbar-brand {
  margin-left: 2%;
}

.navbar-elements-container {
  display: flex !important;
  align-items: center !important;
}

.navbar-element-link {
  color: teal!important;
  margin-left: 10%;
}

.react-link {
  text-decoration: none!important;
}

.react-link-topbar {
  text-decoration: none;
  color: #fff!important;
}

.react-link-topbar:hover {
  color: #000!important;
}

.app-title {
  color: #000!important;
}
