.course-list {
  display: flex!important;
  flex-direction: row!important;
  flex-wrap: wrap !important;
  margin-left: 5vw !important;
}

@media (max-width: 476px) {
  .course-list {
    margin-left: 2vw
  }
}

@media (max-width: 768px) {
  .course-list {
    margin-left: 2vw
  }
}

/* @media (max-width: 1024px) {
  .course-list {
    margin-left: 10px
  }
} */