.container {
  display: flex !important;
  flex-direction: row !important;
}

.course-card {
  margin-left: 3vw;
  margin-top: 5vh;
  border-radius: 10px!important;
}

.course-card:hover {
  transform: scale(1.05);
  background-color: #CAF7E3
}

.button {
  color: #000!important;
}

.button:hover {
  color: teal!important;
}